body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
	height: 10vh;
	
	border-radius: 0 !important;
	background: #34495e;
	color: white;
	text-align: center;
}

.categories {
	width: 12%;
	margin: 20px;
	text-align: center;
	border: 1px solid #898989;
	box-shadow: 4px 5px 5px 0px rgba(173,173,173,1);
}

.posts-main {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.post {
	border: 1px solid #898989;
	margin: 10px;
	box-shadow: 4px 5px 5px 0px rgba(173,173,173,1);
}

.list-group .list-group-item {
	border: none;

}

.list-group .active {
	margin: 0px;
	background-color: #34495e;
	border-radius: 0 !important;
}

.details {
	display: inline;
	padding: 0;
	margin: 50px;
	text-transform: lowercase;

}

.details:nth-of-type(3) {
	font-size: 25px;
}

.details:nth-of-type(7) {
	font-size: 25px;
}

.add-post {
	text-align: center;
}

.form {
	width: 40%;
	margin: 0 auto;
	margin-top: 80px;
}

input {
	margin-top: 35px;
	border-radius: 0 !important;
}

textarea {
	border-radius: 0 !important;
}

button {
	float: left;
	border-radius: 0 !important;
	margin-left: 20px;
}

.add-icon {
	float: right;
	margin: 50px;
	font-size: 40px;
	color: #ff2d2d;
}

.back-icon {
	display: inline;
	float: left;
	font-size: 30px;
	margin: 15px 0 0 5px;
}

 .Modal {
 	position: relative;
 /*   top: 250px;
    left: 150px;
    right: 150px;
    bottom: 250px; */
    height: 300px;
    width: 70%;
    margin: 250px auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 5px 5px 0px rgba(173,173,173,1);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
 }

.add-comment-form {
	width: 50%;
	margin: 0 auto;
	margin-top: 80px;
}

.add-comment-btn {
	display: inline;
}

.comments-header {
	display: inline;
	margin-right: 130px;
}








