

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
	font-size: 16px;
}

.loading {
	margin: 0 auto;
}

.navbar {
	height: 10vh;	
	border-radius: 0 !important;
	background: #495867;
	color: white;	
	text-transform: uppercase;
}

.chat {
	margin: 5px;
}


.categories {
	margin-top: 15px;
	width: 100%;
	text-align: center;	
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	display: inline-block;
	border-radius: 5px;
}

.posts-main {
	/*
	margin: 20px 0 0 35px;
	*/
	padding: 40px;
	width: 100%;
	margin: 0 auto;
	text-align: center;

}

.post {
	
	margin: 10px auto;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.list-group .list-group-item {
	border: none;

}

.list-group .active:hover {
	background-color: #577399;
}

.list-group .active {
	margin: 0px;
	background-color: #577399;
	border-radius: 0 !important;

}

.details {
	display: inline;
	padding: 0;
	margin: 50px;
	text-transform: lowercase;
}

.all-posts h4 {
	margin-left: 50px;

}

.loading {
  position: absolute;
  margin: 200px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
}

.categories a {
	color: black;
	text-transform: uppercase;
}

.categories a:hover {
	text-decoration: none;
	border-radius: none;
}

.categories p:hover {
	background-color: #ededed;
	text-decoration: none;
	border-radius: none;
}

.mainpage h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: -50px;
}

.form {
	width: 40%;
	margin: 0 auto;
	margin-top: 80px;
}

input {
	margin-top: 35px;
	border-radius: 0 !important;
}

textarea {
	border-radius: 0 !important;
}

button {
	float: left;
	border-radius: 0 !important;
	margin-left: 20px;
}

.add-icon {
	float: right;
	margin-right: 200px;
	font-size: 45px;
	color: #FE5F55;
	width: 50px;
}

.back-icon {
	display: inline;
	float: left;
	font-size: 30px;
	margin: 15px 0 0 5px;
}

 .Modal {
 	position: relative;
 /*   top: 250px;
    left: 150px;
    right: 150px;
    bottom: 250px; */
    height: 300px;
    width: 70%;
    margin: 250px auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 5px 5px 0px rgba(173,173,173,1);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bcbcbc;
 }

.add-comment-form {
	width: 50%;
	margin: 0 auto;
	margin-top: 80px;
}

.add-comment-btn {
	display: inline;
}

.comments-header {
	display: inline;
	margin: 0 auto;
	margin-left: -35px;
}

.post-icon {
	font-size: 40px;
	margin: 25px;
	cursor: pointer;	
}

.exit-icon {
	float: right;
	font-size: 20px;
	margin-top: -20px;
	margin-bottom: 10px;
}

.post-icon:hover {
	color: red;
}

.edit-icon {
	font-size: 25px;
	margin: 15px;
	cursor: pointer;

}

.trash-icon {
	font-size: 25px;
	margin: 15px;
	cursor: pointer;
}

.com-auth {
	margin-left: -500px;
}

.vote-icon {
	font-size: 25px;
}

.com-icon:hover {
	color: lightblue;

}

.com-icon {
	font-size: 25px;
	float: left;
	margin-left: 15px;
}

.down-vote {
	font-size: 30px;
}

.up-vote {
	font-size: 30px;
}

.organize {
	margin-bottom: 60px;
}

.organize h4 {
	text-align: right;
}

.organize button {
	float: right;
	margin: 0;
	
}

.not-found {
	margin: 0 auto;
	color: red;
	text-align: center;
	margin-top: 100px;
}











